* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
   
}
.clear-fix{
    clear: both;
}

.main{
    background: url('./images/slider-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
   
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.8);
   
}

.main .container{
    background-color: transparent;
    padding: 20px;
    height:70px;
    width:100%;
    position: fixed;   
}
.nav {
    width:80%;
    margin:auto;  
}

.nav .logo{
    float:left;
    
}
.nav .logo h2 {
    color:#ff305b;
}
.nav .links {
    float:right;  
}
.links ul {
    list-style: none;
}
.links ul li {
    display: inline-block;
    margin:10px
}
.links ul li a {
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}
.links ul li a.active {
    color:#ff305b
} 
.links ul li a:hover{
    color:#ff305b
}
.title {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.title h6{
    color:#ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    

}
.title h2 {
    color:#ff305b;
    font-size: 75px;
    letter-spacing: 1px;
    font-weight: bold;
}
.title h4 {
    color:#ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
}

/* about */
.about {
    /* height: 100vh; */
    padding: 50px;
   
}
.about .container-about {
    margin-left: auto;
    width:90%;
}
.about .container-about .item {
    width: 40%;
    float: left;
}
.about .item-border {
    border:8px solid grey;
    height: 450px;
     position: relative;
    width:100%
}
.about .item-border .img {
    background-image: url("./images/profile.jpg");
    background-size: cover;
    height: 100%;
    position: absolute;
    top:15px;
    left:15px;
    width:100%;
    overflow: hidden;
} 
.item-overlay {
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    opacity: 0;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    top:100%;
    left:0   
}
.img:hover .item-overlay{
    opacity: 1;
    top:0   
} 

.item-overlay ul {
    list-style: none;
    position: absolute;
    bottom: 50%;
    right:35%; 
}
.item-overlay ul li {
    display: inline-block;
    margin-left:15px 
}
.item-overlay ul li i {
    color:#fff;
    font-size: 20px;
}
.about-title {
    width: 50%;
    float: right;
}

.about-title h2 {
    letter-spacing: 2px;
    font-size: 34px;
    font-weight: 600;  
}
.about-title h2::before{
    background-color: #ff305b;
    content: " ";
    height: 25px;
    display: inline-block;
    width: 5px;
    margin-right: 10px;  
}
.about-title p {
   
    font-family: 'Roboto', sans-serif;
    line-height: 23px;
    color:#555;
    font-weight: 500;
    padding: 20px 0;
    width: 100%;
}
.about-border {
    border:1px dashed #999999;
    
}
.list {
    width: 80%;
    margin: 20px 0;
   
}
.list  ul  {
    list-style: none;  
    
}
.list  ul li  {
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
   
   
}
.list .one {
    float: left; 
}
.list .two {
    float: right;
}
.list span {
    color: #333333;
    font-weight: bold
}
.btn {
    background: #ff305b;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px;
    width:150px;
    font-size: 17px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left:10px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}

.btn i {
    margin-left:5px
}

.btn:hover {
    background-color: orangered;
}


/*service*/

.service {
    min-height: 80vh;
    padding: 50px;
    background: #f1f1f1;
    text-align: center; 
}

.service h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding: 60px 0;
}

.service-item {
    padding: 40px 20px 20px;
    float: left;
    width:24%;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    margin: 5px;
}
.service-item i {
    color:#ff305b;
    font-size: 25px;
    margin-bottom: 30px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}
.service-item h3 {
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
.service-item p {
    width:95%;
    line-height: 30px;
    text-align: center;
}

.service-item:hover  {
  
    background-color: #fff;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.322) ;
}
.service-item:hover i {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
   
}


/*portofilio*/

.portofilio {
    padding: 50px;
   
}

.portofilio .porto-container {
    margin-left: auto;
    text-align: center; 
}
.portofilio h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding: 60px 0;
}

.portofilio .porto-link {
    list-style: none;
    padding-bottom: 30px;
}
.portofilio .porto-link li {
    display: inline-block;
    margin: 10px;
}
.portofilio .porto-link li.active {
    color: #ff305b;
    font-size: 19px;
}
.portofilio .porto-link li:hover {
    color: #ff305b;
}

.porto-img {
    width:33%;
    float: left;
    border: 4px solid transparent;position: relative;
}
.porto-img img{
    width: 100%;
    
}
.porto-img .overlay {
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgb(0,0,0,0.4);
    opacity: 0;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  
    left:0 
}
.porto-img .overlay i {
    color: #fff;
    position: absolute;
    bottom:6%;
    right: 7%;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}

.porto-img .overlay:hover {
    opacity: 1;
}
.porto-img .overlay:hover i {
    color: #ff305b;
}


/*count*/
.count {
    background: #f1f1f1;
    padding: 40px;
}
.count-container{
    width: 80%;
    margin: auto;
    padding: 50px;
    text-align: center;
}

.count-item {
    float: left;
    width: 25%;
    border: 10px solid transparent;
}

.count-item i {
    font-size: 30px;
    color: #ff305b;
    margin-bottom: 20px;
}
.count-item h6 {
    font-size: 26px;
    margin-bottom: 20px;
}
.count-item h5 {
    font-size: 17px;
    margin-bottom: 20px;
}


/*testimional*/
.testimonial {
    height: 100vh;
    padding: 40px;
    
}
.testimonial .container {
    width:80%;
    margin: auto;
   
}

.testimonial .container h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding: 60px 0;
    text-align: center;
}
.testimonial .container .test-item {
    margin: auto;
    width:70%;
    background-color: #f1f1f1;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.back {
    background-color: #ff305b;
    -webkit-clip-path: polygon(69% 0, 0 0, 0 62%);
clip-path: polygon(69% 0, 0 0, 0 62%);   
height: 250px;
width: 250px;
position: absolute;
}
.test-img {
   float:left;
  width:20%;
  position: relative;
  margin:26px 
  
}
.test-img  img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width:100px;
    height:100px;
   
    
}
.test-title {
    float: right;
    width: 70%;
    position: relative;
   
}
.test-title h6 {
    padding: 30px 0 0 0;
    font-size: 22px;
}
.test-title span {
    font-size: 16px;
    color: #333;
    font-weight: bold;
 
    
}
.test-title span i {
    font-size: 14px;
    padding: 20px 0;
}

.test-link {
    list-style: none;
}
.test-link li {
    display: inline-block;
    color: #f1c30d;
    padding: 20px 0;
}


/*blog*/
.blog {
    min-height: 100vh;
    padding: 40px;
    background: #f1f1f1;
}
.blog .blog-container {
    width:90%;
    margin: auto;
   
}

.blog .blog-container h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding: 60px 0;
    text-align: center;
}
.blog-item {
    float: left;
    width: 33.33333%;
    background-color: #fff;
    border: 10px solid #f1f1f1;
    padding-bottom: 30px;
}
.blog-item img {
    width:100%
}
.blog-item h5 {
    padding: 20px 20px 5px 20px;
}
.blog-item h4 {
    padding: 5px 20px;
}
.blog-item p {
    padding: 5px 20px 15px 20px;
    line-height: 23px;
}
.blog-btn {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 17px;
    padding: 5px 20px;
   
}
.blog-btn i {
    font-size: 15px;
}



/*contact */
.contact {
    height: 80vh;
    padding: 40px;
    text-align: center;
}
.contact h2{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding: 60px 0 20px 0;
}

.first input {
    width: 30%;
    height: 30px;
}
.contact-two, .contact-three {
    padding: 20px;
    width: 100%;
    height: 30px;
    position: relative;
    
}
.contact-two input {
    width: 62%;
    height: 30px;
}
.contact-three textarea {
    width: 62%;
}
.contact-four {
    position: relative;
    padding: 170px 20px;
}


.footer{
  
    background-color: #333333;
    text-align: center;
    padding: 50px 50px 20px ;
 
}
.footer h2{
    color: white;
     
   font-weight: 200;
     font-size: 17px;
}
.span-footer{
    color: #ec2403;
}

.footer-links{
    list-style: none;
}
 .footer-links li {
    display: inline-block;
}
 .footer-links li i {
    color: #8c8a86;;
    font-size: 20px;
    padding:7px;
    margin:5px;
    border:1px solid #403d38;
    border-radius: 50%;
}